html  
  head
    title ship creator
    link(rel='stylesheet', href='./style.css')
  body
    div(class='wrapper')
      h1 Result list to list!
      h2 Best Ship:
      h3=ship
      form(id="home", method="GET", class="form"  action="/")
        button#submitButton(type='submit') Home